<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul><%= @genre.name %></ul>
    <ul><%= @genre.artists.name %></ul>
    <ul><%= @genre.genres.first.name %></ul>
  </body>
</html>
