<form action="/songs" method="post">
<input type="text" name="name" placeholder="give me a song">
<input type="text" name="name" placeholder="give me an artist">
<input type="text" name="name" placeholder="give me a genre">
<input type="submit" name="" value="submit">
</form>
